@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

form {
  width: 100%;

  table {
    width: 100%;
    border-spacing: 1rem;
    border-collapse: separate;

    @media screen and (max-width: 768px) {
      tr {
        display: grid;
        grid-template-columns: 1fr;

        td {
          margin-bottom: 1rem;
        }
      }
    }
  }

  label {
    width: 100%;
  }

  input {
    background-color: #ededed;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    width: 100%;

    &:required {
      border-right: 5px solid coral;
    }
  }
}

button,
a[role="button"],
.button {
  background-color: lab(48.295% 38.3129 -81.9673);
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;

  &:hover {
    background-color: #005bb5;
  }
}